@import url(./global.css);

/* _____________HEADER__________________*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-neutral-silver);
}
 .logo{
    padding: 30px 0px;
 }

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-header ul a{
    text-decoration: none;
    color: #18191f;

}


.active{
    font-weight: bold;
}


.btn-Login{
    color: var(--color-primary);
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
}


.btn-primary{
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


.btn-header{
    gap: 14px;
    padding: 22px 0px;
}
/*______________Fim Header_____________ */



/*______________Inicio Main_____________ */
/*______________Fim Main_____________ */




