seletor{

    propriedade: valor

}

h1{

    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Altera a fonte*/
    font-size: 80px; /*Altera o tamanho*/
    text-transform: capitalize;
    
}

h2{
    color: gold;
    font-family: fantasy; /*Altera a fonte*/
}



p{
    color: antiquewhite;
    background-color: blue;
    line-height: 1.2;/*Altura entre as linhas*/
    font-size: 30px; /*Altera o tamanho*/
    font-family: 'Eater';

    
}



